* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  border: none !important;
  font-family: "Bitter", sans-serif !important;
}

.below {
  display: flex;
  position: absolute;
  width: calc(100% - 260px);
  left: 260px;
  height: calc(100% - 70px);
  top: 70px;
  transition: 0.5s ease;
  flex-direction: column;
}

.below.active {
  display: flex;
  position: absolute;
  flex-direction: row;
  width: calc(100% - 60px);
  left: 60px;
  height: calc(100% - 70px);
  top: 70px;
}

@media (max-width: 768px) {
  .below {
    width: 100%;
    left: 0;
  }
  
  .below.active {
    display: flex;
    position: absolute;
    width: calc(100% - 60px);
    left: 60px;
    height: calc(100% - 70px);
    top: 70px;
  }
}

.panel-body {
  flex-grow: 1 !important;
}

th {
  padding: 10px !important;
  text-align: center !important;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none !important;
  background: #2B4553 !important;
}

tr {
  padding: 30px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: normal;
  font-size: 14px;
  color: #2B4553;
  text-transform: uppercase;
  border: 1px solid rgb(43, 69, 83, 0.1) !important;
  background: #FFFFFF !important;
}

td {
  vertical-align: middle !important;
  padding: 10px !important;
}

.table-responsive {
  width: 98% !important;
  margin: 0 auto !important;
}

.select_btn {
  background: #f0ad4e;
  color: #FFFFFF;
  padding: 3px 6px !important;
  font-size: 14px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
}

.select_btn2 {
  background: #5cb85c;
  color: #FFFFFF;
  padding: 3px 6px !important;
  font-size: 14px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
}

.user_rmo {
  background: #d9534f;
  color: #FFFFFF;
  padding: 3px 6px !important;
  font-size: 14px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  border-radius: 5px;
}

.select_btn:hover,
.select_btn2:hover,
.user_rmo:hover
{
  cursor: pointer;
  filter: brightness(90%);
}

.buttons {
  display: flex !important;
  gap: 3px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.modal-dialog-centered {
  display: flex !important;
  justify-content: center !important;
  margin: auto !important;
}

.modal-header, .modal-footer, .modal-body {
  background-color: #FFFFFF !important;
  border: none !important;
  color: #2B4553 !important;
  padding: 15px !important;
}

.modal-header{
  padding-top: 15px !important;
}

.sel_css {
  display: flex !important;
  width: 100% !important;
}

.modal-body input,
.dev_sel {
  outline: 0;  
  color: #2B4553 !important;
  background: #FFFFFF;
  width: 100% !important;
  font-weight: normal !important;
  padding: 10px !important;
  box-sizing: border-box;
  font-size: 15px !important;
  border-radius: 5px !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  flex-grow: 1 !important;
}

.modal-footer button {
  padding: 8px !important;
  font-size: 15px;
  margin-right: 5px !important;
}

.modal-body input:hover, .modal-body input:active, .modal-body input:focus {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

label[for="User-mail"],
label[for="Device"]
{
  font-weight: normal !important;
  padding-bottom: 5px !important;
  padding-top: 10px !important;
  color: #2B4553 !important;
}

.alert {
  background: #FFFFFF !important;
  outline: 0;
  width: 100%;
  border: 0;
  margin: 0 !important;
  font-size: 12px;
  text-align: top !important;
  vertical-align: top !important;
  display: flex;
  padding: 0 !important;
  padding-left: 15px !important;
}

.alert .alert-icon {
  color: #FFFFFF; 
  display: flex !important; 
  font-weight: bold !important;
}

.alert .alert-text {
  color: #FF0000;
  padding-left: 5px !important; 
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: #FF0000;
  cursor: pointer;
}

#pagination {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#pagination a {
  display: inline-block; 
  padding: 3px 9px !important;
  margin: 5px 2px !important;
  color: #2B4553;
  background: #FFFFFF;
  text-decoration: none; 
  border-radius: 3px; 
  font-size: 14px;
  border: 1px solid rgb(43, 69, 83, 0.2) !important;
}

#pagination a:hover {
  cursor: pointer;
  background: #2B4553;
  color: #FFFFFF;
}