* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  list-style: none !important;
  text-decoration: none !important;
  border: none !important;
  font-family: "Bitter", sans-serif !important;}

.below {
  display: flex;
  position: absolute;
  width: calc(100% - 260px);
  left: 260px;
  height: calc(100% - 70px);
  top: 70px;
  transition: 0.5s ease;
}

.below.active {
  display: flex;
  position: absolute;
  width: calc(100% - 60px);
  left: 60px;
  height: calc(100% - 70px);
  top: 70px;
}

@media (max-width: 768px) {
  .below {
    width: 100%;
    left: 0;
  }
  
  .below.active {
    display: flex;
    position: absolute;
    width: calc(100% - 60px);
    left: 60px;
    height: calc(100% - 70px);
    top: 70px;
  }
} 

.table-responsive {
  width: 98% !important;
  margin: 0 auto !important;
}

th {
  padding: 10px !important;
  text-align: center !important;
  font-weight: 500;
  font-size: 15px;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none !important;
  background: #2B4553 !important;
}

tr {
  padding: 20px !important;
  text-align: center !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: normal;
  font-size: 14px;
  color: #2B4553;
  text-transform: uppercase;
  border: 1px solid rgb(43, 69, 83, 0.1) !important;
  background: #FFFFFF !important;
}

td {
  vertical-align: middle !important;
  padding: 15px !important;
}